doctype html
html
  head
    title= title
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/javascripts/app.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
  body
    nav(class='navbar navbar-dark bg-inverse')
      a.navbar-brand WebCut
      block nav
    
    .container-fluid
      block content
